
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>About Us</h2>
    <p>We're a small team</p>

    <a class="btn btn-primary btn-lg" href="/contact">Drop us a line</a>
  </div>
</section>

<%- contentFor('body') %>
  <div class="jumbotron text-center">
    About page
  </div>
